<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head> <!-- Head Start -->
	<th:block th:include="componentes/_head.html"></th:block>
	<!-- Head End -->
	<title data-i18n="banner.title"></title>
</head>

<body>
	<!-- Navbar -->
	<th:block th:include="componentes/_nav.html"></th:block>
	<!-- Contenido Principal -->
	<div class="container mt-5">
		<div class="text-center mt-4">
				<h1 class="my-4" data-i18n="form.data"></h1>
				</div>
		<div class="card" id="card_edit_rva">
			<div class="card-header" data-i18n="form.data"></div>
			<div class="card-body">

				<!-- Formulario de edición de usuario -->
				<form th:action="@{/registro/editar-usuario/{id}(id=${usuario.id})}" method="post"
					th:object="${usuario}">
					<!-- Nombre -->
					<div class="mb-3">
						<label for="nombre" class="form-label"><strong data-i18n="form.name"></strong></label>
						<input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}" required>
					</div>

					<!-- Apellidos -->
					<div class="mb-3">
						<label for="apellidos" class="form-label"><strong data-i18n="form.surname"></strong></label>
						<input type="text" id="apellidos" name="apellidos" class="form-control" th:field="*{apellidos}"
							required>
					</div>
					<!-- Direccion -->
					<div class="mb-3">
						<label for="direccion" class="form-label"><strong data-i18n="form.address"></strong></label>
						<input type="text" id="direccion" name="direccion" class="form-control" th:field="*{direccion}"
							required>
					</div>

					<!-- Email -->
					<div class="mb-3">
						<label for="email" class="form-label"><strong>Email:</strong></label>
						<input type="email" id="email" name="email" class="form-control" th:field="*{email}" required>
					</div>
					<input type="hidden" name="modificada" value="true">
					<input type="hidden" name="cancelada" value="true">
					<!-- Botón de actualizar y eliminar-->
					<div class="text-center">
						<button type="submit" class="btn btn-success" data-i18n="common.update"></button>
						<button type="button" class="btn btn-danger" data-toggle="modal"
							data-target="#deleteModal" data-i18n="common.delete_account"></button>
					</div>
					<!-- Modal de confirmación de eliminación -->
					<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
						aria-labelledby="deleteModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteModalLabel" data-i18n="common.delete_title"></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" data-i18n="common.delete_confirm"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal" data-i18n="common.cancel"></button>
									<a th:href="@{/registro/eliminar-usuario/{id}(id=${usuario.id})}"
										class="btn btn-danger" data-i18n="common.delete_account"></a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Mensaje de confirmación -->
			<div th:if="${message}" class="alert alert-success" role="alert">
				<span th:text="${message}"></span>
			</div>
		</div>

		<!-- Botón Volver -->
		<div class="text-center mt-4">
			<!-- Botón para el rol ADMIN -->
			<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/admin/lista"
				class="btn btn-primary mt-4" data-i18n="common.back"></a>

			<!-- Botón para el rol USER -->
			<a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" href="/reservas/index"
				class="btn btn-primary mt-4" data-i18n="common.back"></a>
		</div>
	</div>
	</div>

	<th:block th:include="componentes/_scripts.html"></th:block>
</body>
<th:block th:include="componentes/footer.html"></th:block>

</html>