<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Reservas</title>
	<style>
		html,
		body {
			height: 100%;
			margin: 0;
			display: flex;
			flex-direction: column;
		}

		.content {
			flex: 1;
		}
	</style>
</head>

<body>
	<th:block th:include="componentes/_nav.html"></th:block>
	<div class="content">
		<br>
		<form th:action="@{/reservas/guardar}" method="post" id="formReserva" th:object="${reservaForm}">
			<div class="container">
				<div class="card mt-3">
					<div class="card-header">
						<span class="fw-bold text-warning">▪</span>
						<span class="fw-bold" data-i18n="contact.booking_form"></span>
						<button title="Limpiar criterios de búsqueda" id="iniciolink" class="btn btn-link p-0"
							onclick="limpiarCriterios();">
							<span><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
									class="bi bi-eraser-fill" viewBox="2 0 12 22">
									<path
										d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z">
										></path>
								</svg></span>
						</button>
					</div>
					<div class="card-body">
						<!-- Nombre y apellidos -->
						<div class="form-group mb-3">
							<label for="nombre" class="form-label">Nombre y Apellidos </label>
							<div class="input-group">
								<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
									required>
								<input type="text" id="apellidos" name="apellidos" class="form-control"
									placeholder="Apellidos" required>
							</div>
						</div>

						<div class="row">
							<!-- Email -->
							<div class="col-md-6 mb-3">
								<label for="email" class="form-label">Email</label>
								<input type="email" class="form-control" id="email" name="email"
									placeholder="example@correo.com" required>
							</div>
							<!-- Dirección -->
							<div class="col-md-6 mb-3">
								<label for="direccion" class="form-label">Dirección</label>
								<input type="text" class="form-control" id="direccion" name="direccion"
									placeholder="Tu dirección" required>
							</div>
						</div>

						<div class="row justify-content-center">
							<div class="col-md-4">
								<label>Selecciona fecha de Entrada: </label>
								<div class="input-group date datepicker">
									<input class="form-control" type="text" id="fechaEntrada" name="fechaEntrada"
										th:value="${param.fechaEntrada}" readonly />
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</div>
							<div class="col-md-4">
								<label>Selecciona fecha de salida: </label>
								<div class="input-group date datepicker">
									<input class="form-control" type="text" id="fechaSalida" name="fechaSalida"
										th:value="${param.fechaSalida}" readonly />
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</div>
							<div class="row">
								<!-- Número de Personas -->
								<div class="col-md-6 mb-3">
									<label for="numPersonas" class="form-label">Número de Personas</label>
									<input type="number" class="form-control" id="numPersonas" name="numPersonas"
										min="1" max="5" required>
								</div>
							</div>
							<div class="row">
								<!-- Observaciones -->
								<div class="col-md-12 mb-3">
									<label for="observaciones" class="form-label">Observaciones</label>
									<textarea id="observaciones" name="observaciones" class="form-control"
										rows="4"></textarea>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<!-- Botón Volver -->
							<div class="col-auto">
								<a href="/reservas/miReserva" class="btn btn-primary">Volver</a>
							</div>
							<!-- Botón Enviar -->
							<div class="col-auto">
								<button type="submit" class="btn btn-success">Enviar</button>
							</div>
						</div>
						<!-- Mensaje de éxito -->
						<div th:if="${message}" class="alert alert-success" role="alert">
							<span th:text="${message}"></span>
						</div>
					</div>
				</div>
			</div>

		</form>

	</div>

	<th:block th:include="componentes/_scripts.html"></th:block>
	<footer th:include="componentes/footer.html"></footer>
</body>

</html>