<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Editar Reserva</title>
	<th:block th:include="componentes/_head.html"></th:block>
</head>
<th:block th:include="componentes/_nav.html"></th:block>

<body>
	<div class="container">
		<div class="card" id="card_edit_rva">
			<div class="card-header" data-i18n="form.edit_booking"></div>
			<div class="card-body">
				<form th:action="@{'/reservas/editar/' + ${reserva.id}}" th:object="${reserva}" method="post">
					<div class="form-group">
						<label for="nombre" data-i18n="form.name"></label>
						<input type="text" id="nombre" class="form-control" th:field="*{nombre}" required>
					</div>
					<div class="form-group">
						<label for="apellidos" data-i18n="form.surname"></label>
						<input type="text" id="apellidos" class="form-control" th:field="*{apellidos}" required>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" id="email" class="form-control" th:field="*{email}" required readonly>
					</div>
					<div class="form-group">
						<label for="direccion" data-i18n="form.address"></label>
						<input type="text" id="direccion" class="form-control" th:field="*{direccion}" required>
					</div>
					<div class="form-group">
						<label for="numPersonas" class="form-label" data-i18n="form.number"></label>
						<input type="number" class="form-control" id="numPersonas" name="numPersonas" min="1" max="5"
							th:field="*{numPersonas}" required>
					</div>

					<div class="form-group">
						<label for="fechaEntrada" data-i18n="form.arrival"></label>
						<input type="text" id="fechaEntrada" class="form-control" th:field="*{fechaEntrada}" required>
					</div>
					<div class="form-group">
						<label for="fechaSalida" data-i18n="form.departure"></label>
						<input type="text" id="fechaSalida" class="form-control" th:field="*{fechaSalida}" required>
					</div>
					<div class="form-group">
						<label for="observaciones" data-i18n="form.observations"></label>
						<textarea id="observaciones" class="form-control" cols="30" rows="4"
							th:field="*{observaciones}"></textarea>
					</div>
					<div class="form-group">
						<label for="precioTotal" data-i18n="form.total_price"></label>
						<input type="number" id="precioTotal" class="form-control" th:field="*{precioTotal}" required
							readonly>
					</div>
					<input type="hidden" name="modificada" value="true">
					<input type="hidden" name="reservaId" id="reservaId" th:value="${reserva.id}">
					
					<div class="text-center mt-4">
						<button type="submit" class="btn btn-success" data-i18n="form.save"
							id="comprobar-disponibilidad-formBtnReservas"></button>
						<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/admin/lista"
							class="btn btn-danger" data-i18n="common.cancel"></a>

						<!-- Botón para el rol USER -->
						<a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" href="/reservas/miReserva"
							class="btn btn-danger" data-i18n="common.cancel"></a>
					</div><br>

					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
				</form>
			</div>

			
		</div>
		<div id="resultados-disponibilidad" class="alert alert-warning" style="display: none;"
						data-i18n="form.no_rooms"></div>
	</div>
	<div class="text-center mt-4">
		<!-- Botón para el rol ADMIN -->
		<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/admin/lista"
			class="btn btn-primary mt-4" data-i18n="common.back"></a>

		<!-- Botón para el rol USER -->
		<a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" href="/reservas/miReserva"
			class="btn btn-primary mt-4" data-i18n="common.back"></a>
	</div><br>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
			$('#comprobar-disponibilidad-formBtnReservas').on('click', function (event) {
				event.preventDefault(); // Evitar el envío del formulario inicialmente

				var fechaEntrada = $('#fechaEntrada').val();
				var fechaSalida = $('#fechaSalida').val();
				 var reservaId = $('#reservaId').val();

				console.log('Fecha de entrada modif enviada:', fechaEntrada);
				console.log('Fecha de salida modif enviada:', fechaSalida);

				var formData = {
					fechaEntrada: fechaEntrada,
					fechaSalida: fechaSalida,
					reservaId: reservaId
				};

				// Realizar la comprobación de disponibilidad
				$.ajax({
					url: '/reservas/comprobar-disponibilidadEdicion', // Asegúrate de que esta URL es correcta
					type: 'GET',
					data: formData,
					success: function (response) {
						// Manejar la respuesta de la disponibilidad
						if (response.disponible) {
							// Si las fechas están disponibles, enviar el formulario
							$('form').submit();
						} else {
							// Mostrar mensaje de advertencia si las fechas no están disponibles
							$('#resultados-disponibilidad').show();
						}
					},
					error: function (error) {
						console.log("Error en la comprobación de disponibilidad: ", error);
					}
				});
			});
		});
	</script>

	<button id="btnSubir" title="Subir" onclick="subirArriba()"> <svg xmlns="http://www.w3.org/2000/svg" width="26"
			height="26" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
			<path
				d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659" />
		</svg>
	</button>
	<th:block th:include="componentes/_scripts.html"></th:block>
	<th:block th:include="componentes/footer.html"></th:block>
</body>

</html>