<!DOCTYPE xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Head Start -->
	<th:block th:include="componentes/_head.html"></th:block>
	<!-- Head End -->
	<title data-i18n="banner.title"></title>
</head>

<body>
	<th:block th:include="componentes/_nav.html"></th:block>

	<div class="container">
		<h2 class="text-center mt-4" data-i18n="form.register_form"></h2>
		<div class="card" id="card_edit_rva">
			<div class="card-header" data-i18n="common.registration"></div>
			<div class="card-body">
				<form th:action="@{/registro/nuevo}" method="POST" th:object="${usuario}" id="limpiar">
					<div class="form-group">
						<label for="nombre" data-i18n="form.name"></label> <input type="text" name="nombre"
							class="form-control" id="nombre">
					</div>

					<div class="form-group">
						<label for="apellidos" data-i18n="form.surname"></label> <input type="text" name="apellidos"
							class="form-control" id="apellidos">
					</div>
					<div class="form-group">
						<label for="direccion" data-i18n="form.address"></label> <input type="text" name="direccion"
							class="form-control" id="direccion">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="text" name="email" class="form-control" id="email"
							placeholder="Email">
					</div>

					<div class="form-group">
						<label for="password" data-i18n="form.password"></label> <input type="password" name="password"
							class="form-control" id="password">
					</div><br>
					<button type="submit" class="btn btn-success" data-i18n="common.registration"></button>
				</form>
			</div>
			<div th:if="${param.exito}" class="alert alert-info d-flex justify-content-between align-items-center">
				<span data-i18n="common.welcome"></span>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
					Iniciar Sesión
				</button>
			</div>
		</div>>
	</div>


	<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
	</div>
	<input type="hidden" name="redirectUrl" th:value="${redirectUrl}">
	<!-- Modal de Login -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
		th:classappend="${error} ? 'show' : ''">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/autenticacionUsusario}" method="POST">
						<div id="error" class="alert alert-danger" style="display: none;"></div>

						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" id="email" name="username" class="form-control"
								placeholder="Ingresa tu email">
						</div>
						<div class="form-group">
							<label for="password"></label>
							<input type="password" id="password" name="password" class="form-control"
								placeholder="Ingresa tu contraseña">
						</div>
						<button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
						<span>Si no estás registrado, <a th:href="@{/registro/inicio}">Regístrate aquí</a></span>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<th:block th:include="componentes/_scripts.html"></th:block>
</body>

<th:block th:include="componentes/footer.html"></th:block>

</html>