<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Head Start -->
	<th:block th:include="componentes/_head.html"></th:block>
	<!-- Head End -->
	<title data-i18n="banner.title"></title>
</head>

<body>
	<th:block th:include="componentes/_nav.html"></th:block>

	<div class="container">
		<h2 class="text-center mt-4" data-i18n="form.register_form"></h2>
		<div class="card" id="card_edit_rva">
			<div class="card-header" data-i18n="common.registration"></div>
			<div class="card-body">
				<form th:action="@{/registro/nuevo}" method="POST" th:object="${usuario}" id="limpiar" >
					<div class="form-group">
						<label for="nombre" data-i18n="form.name"></label> <input type="text" name="nombre"
							class="form-control" id="nombre" th:value="*{nombre}" required>
					</div>

					<div class="form-group">
						<label for="apellidos" data-i18n="form.surname"></label> <input type="text" name="apellidos"
							class="form-control" id="apellidos"  th:value="*{apellidos}" required>
					</div>
					<div class="form-group">
						<label for="direccion" data-i18n="form.address"></label> <input type="text" name="direccion"
							class="form-control" id="direccion" th:value="*{direccion}" required>
					</div>
					<div class="form-group">
						<label for="telefono" data-i18n="form.phone"></label> <input type="text" name="telefono"
							class="form-control" id="telefono"  min="9" max="12"  th:value="*{telefono}" required>
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="email" name="email" class="form-control"
							id="email" placeholder="user@example.com"  th:value="*{email}" required>

					</div>
					<div class="form-group">
						<label for="password" data-i18n="form.password"></label>
						<div class="input-group">
							<input type="password" name="password" class="form-control" id="password"  th:value="*{password}" required>
							<span class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="right"
								title="La contraseña debe tener al menos 5 caracteres y no incluir caracteres especiales.">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-info-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
									<path
										d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
								</svg> </span>
						</div>
					</div>
					<div class="text-center mt-4">
						<button type="submit" class="btn btn-success" id="formRegistro" data-i18n="common.registration"></button>
					</div><input type="hidden" id="focusField" th:value="${focusField}" />
				</form>

			</div>
			<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
			<div th:if="${param.exito}" class="alert alert-info d-flex justify-content-between align-items-center">
				<span data-i18n="common.welcome"></span>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
					Iniciar Sesión
				</button>
			</div>
		</div>
	</div>

	<input type="hidden" name="redirectUrl" th:value="${redirectUrl}">
	<!-- Modal de Login -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
		th:classappend="${error} ? 'show' : ''">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/autenticacionUsusario}" method="POST">
						

						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" id="email" name="username" class="form-control"
								placeholder="Ingresa tu email">
						</div>
						<div class="form-group">
							<label for="password"></label>
							<input type="password" id="password" name="password" class="form-control"
								placeholder="Ingresa tu contraseña">
						</div>
						<button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
						<span>Si no estás registrado, <a th:href="@{/registro/inicio}">Regístrate aquí</a></span>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<th:block th:include="componentes/_scripts.html"></th:block>
	<script>
	    document.addEventListener('DOMContentLoaded', () => {
	        const focusField = document.getElementById('focusField').value;
	        if (focusField) {
	            const input = document.getElementById(focusField);
	            if (input) {
	                input.focus();
	            }
	        }
	    });
		document.getElementById("formRegistro").addEventListener("submit", function(event) {
				const telefono = document.getElementById("telefono").value;

				if (!/^\d{9,12}$/.test(telefono)) {
					event.preventDefault();
					alert("El número de teléfono debe tener entre 9 y 12 dígitos y solo contener números.");
				}
			});
	</script>

</body>

<th:block th:include="componentes/footer.html"></th:block>

</html>