<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<base th:href="@{/}" />
    <meta charset="utf-8">
   
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon 
    <link th:href="@{img/favicon.ico}" rel="icon">-->
	<link rel="shortcut icon" href="/images/icon.jpg">
   
    <!-- Google Web Fonts -->
   
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <!-- Icon Font Stylesheet -->
    <link th:href="@{lib/bootstrap/css/font-awesome_5.10.0_css_all.min.css}" rel="stylesheet">
    <link th:href="@{lib/bootstrap/css/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{lib/bootstrap/css/font_bootstrap-icons.css}" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link th:href="@{lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <!-- BS Stepper -->
    <!-- bs-stepper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

<!-- bs-stepper JS -->


    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" th:href="@{lib/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{lib/datatables/simple-datatables.css}" rel="stylesheet" />
    <!-- Custom css fundos -->
    <link rel="stylesheet" th:href="@{css/styles.css}">
	
    <!--CSS Datatables -->
    <link th:href="@{lib/jquery/jquery.dataTables.min.css}"rel="stylesheet">
	
	<!-- Bootstrap Datepicker CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
</head> 
</html>