<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<!-- Head Start -->
	<th:block th:include="componentes/_head.html"></th:block>
	<!-- Head End -->
	<style>
		.input-group .btn {
		    border-radius: 0; /* Evita que el botón tenga bordes redondeados extra */
		}
	</style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<!-- "CASA BERRIEL" a la izquierda -->


		<a class="navbar-brand inicio" href="/home/index">
			<img src="/images/icon.jpg" alt="Casa Berriel Icon" style="height: 30px; margin-right: 10px;">
			Casa Berriel - Lanzarote
		</a>

		<!-- Botón de despliegue para dispositivos móviles -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Contenido del menú alineado a la derecha -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<!-- Dropdown para usuario autenticado -->
				<li th:if="${#httpServletRequest.remoteUser != null}" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<strong data-i18n="banner.welcome"></strong><strong><span th:text="${#httpServletRequest.remoteUser}"></span></strong>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
						<a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
							th:href="@{/registro/detalle-usuario}" data-i18n="navbar.profile"></a>
						<a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item" href="/reservas/miReserva/"
							data-i18n="navbar.mybookings"></a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/admin/lista">Panel de
							administración</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item logout-button" href="/logout" data-i18n="navbar.logout"></a>
					</div>
				</li>
				<!-- Opciones de menú -->
				<li class="nav-item">
					<a class="nav-link" href="/home/index/#form" data-i18n="navbar.booking"></a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/home/index/#about" data-i18n="navbar.about"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/index/#services" data-i18n="services.title"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/index/#gallery" data-i18n="navbar.gallery"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/index/#contact" data-i18n="navbar.contact"></a>
				</li>



				<!-- Opción de Login si el usuario no está autenticado -->
				<li th:if="${#httpServletRequest.remoteUser == null}" class="nav-item">
					<button class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal"
						data-i18n="navbar.login"></button>
				</li>

				<!-- Selector de idioma -->

				<li class="nav-item">
					<select id="languageSelector" class="form-control">
						<option value="es">Español</option>
						<option value="en">English</option>
					</select>
				</li>
			</ul>

		</div>
		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
			th:classappend="${error} ? 'show' : ''">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="loginModalLabel" data-i18n="login.title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/autenticacionUsusario}" method="POST">
							<div id="error" class="alert alert-danger" style="display: none;"></div>
							<div id="error" th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" id="email" name="username" class="form-control"
									placeholder="user@example.com">
							</div>
							<div class="form-group">
							    <label for="password" data-i18n="login.password_placeholder"></label>
							    <div class="input-group">
							        <input type="password" id="password" name="password" class="form-control rounded-right" placeholder="Contraseña">
							        <div class="input-group-append">
							            <button class="btn btn-outline-secondary" type="button" id="togglePassword" >
							                 <i class="fas fa-eye toggle-password" id="togglePassword" data-bs-toggle="tooltip" data-bs-placement="top" title="Mostrar contraseña"></i>
							            </button>
							        </div>
							    </div>
							</div>

							

							<span data-i18n="form.register"></span><span><a th:href="@{/registro/inicio}"
									data-i18n="form.here"></a></span>
							<div class="d-flex justify-content-between align-items-center mt-4">
								<button type="submit" class="btn btn-success" data-i18n="login.title"></button>
								<a href="/reservas/recuperarPassword" data-i18n="login.forgot_password"></a>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>


		<!-- Modal de confirmación de cierre de sesión -->
		<div class="modal fade" id="logoutConfirmModal" tabindex="-1" aria-labelledby="logoutConfirmModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="logoutConfirmModalLabel" data-i18n="common.close_title"></h5>
					</div>
					<div class="modal-body" data-i18n="common.close_confirm"></div>
					<div class="modal-footer">
						<!-- Este botón debería cerrar el modal automáticamente -->
						<button type="button" id="confirmLogoutBtn" class="btn btn-outline-danger"
							data-i18n="common.close_session"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('togglePassword').addEventListener('click', function () {
		    const passwordField = document.getElementById('password');
		    const icon = document.getElementById('togglePasswordIcon');
		    // Alternar el tipo del campo
		    if (passwordField.type === 'password') {
		        passwordField.type = 'text';
		        icon.classList.remove('fa-eye');
		        icon.classList.add('fa-eye-slash');
		    } else {
		        passwordField.type = 'password';
		        icon.classList.remove('fa-eye-slash');
		        icon.classList.add('fa-eye');
		    }
		});

	</script>
</nav>
